<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.usk.glotus_final">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-feature android:name="android.hardware.camera" android:required="true"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <supports-screens
        android:normalScreens="true"
        android:largeScreens="true"
        android:xlargeScreens="true"
        />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/auncher_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/auncher_icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"


        >

        <activity android:name=".System.loginFiles.SignInActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ManagerApp.ManagerListFiles.ManagerListActivity">

        </activity>
        <activity android:name=".SuperviserApp.ReceptionFiles.ExpedPage">

        </activity>

        <activity android:name=".SuperviserApp.SuperviserListFiles.SuperviserListActivity"></activity>
        <activity android:name=".SuperviserApp.ReceptionFiles.Reception"></activity>
        <activity android:name=".SuperviserApp.ReceptionFiles.Camera">
        </activity>
        <activity android:name=".SuperviserApp.ReceptionFiles.Etiketka">
        </activity>
        <activity android:name=".ManagerApp.ManagerListFiles.ReceptionManagerActivity">
        </activity>
        <activity android:name=".ManagerApp.ManagerListFiles.NewReceptionManagerActivity">
        </activity>
        <activity android:name=".SuperviserApp.ReceptionFiles.ImageViewer">
        </activity>
        <activity android:name=".SuperviserApp.WifiManagerService.WifiManagerClass">
        </activity>

        <activity android:name=".ManagerApp.ManagerListFiles.EditReceptionManagerActivity">

        </activity>


        <provider
            android:authorities="${applicationId}.provider"
            android:name="android.support.v4.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>
        <provider
            android:name=".GenericFileProvider"
            android:authorities="${applicationId}.com.example.usk.glotus_final"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>


    </application>


</manifest>